*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

nav-item:hover{
    border-bottom: 4px solid #33D067;
    color: black;}

.btn-primary{
        background: linear-gradient(to right,#33D067,#28B0C7);
        color: white;
        border: none;
    }
    
.btn-primary:hover{filter: brightness(110%);}

.mybackground{
    background-image: url('/images/bg-intro-mobile.svg');
    background-repeat: no-repeat;
}

.container-fluid{ 
    background-color: #fafafa;
    //background-color: palegreen;}

.sectiontwo{
    //background-color: lightgrey;
    background-color: #F4F5F7;
}

h1,h2,h3,h4,h5{color:#2F324B;}

h1,h2{font-size: xx-large;}

h3{font-size: large;}

.card-text{font-size: small;}

.card-title:hover{color:#3ABC8D;}

.sectionfooter{background-color: #2D314E;}

.logo-footer{filter: invert(1);}

.footer-items:hover{color:#3ABC8D;}

.footer-icons:hover{filter: hue-rotate(157deg) saturate(53%) brightness(50%);}

@media (min-width: 768px){
    .mybackground{
        background-image: url('/images/bg-intro-desktop.svg');
        background-position: 100% 0%;
        background-size: 50%;
    }

    .mockup{
        position: absolute;
        top: -23%;
        right: -24%;
    }   

    h1{font-size: 4em;}
    h2{font-size: 3em;}
    h3{font-size: 1.5em;}
    p{font-size: 1.1em;}
}

